.App-content {
  margin-top: 50px;
}

/*
  Header
*/

.header {
  padding: 0px 20px;
  background-color: #2D9CDB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12pt;
  align-items: center;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.header-title {
  color: white;
  font-weight: 600;
}

/*
  Book Lists Container
*/

.book-lists-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1px;
  background-color: #E0E0E0;
  height: 100vh;
}

/*
  Book List
*/

.book-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 20px;
  overflow-y: scroll;
}

.book-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.book-list-title {
  font-size: 15pt;
  font-weight: 600;
}

.book-list-count {
  font-size: 12pt;
  font-weight: 600;
  color: #BDBDBD;
}

.book-list-content {
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  flex-wrap: wrap;
}

/*
  Book Card
*/

.book-card-container {
  width: 110px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.book-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.book-card-info {
  height: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  padding: 5px;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

.book-card-title {
  font-size: 8pt;
  font-weight: 600;
  overflow-wrap: break-word;
}

.book-card-text {
  font-size: 8pt;
  color: lightslategray;
  overflow-wrap: break-word;
}

.book-card-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
}

/*
  Empty Card
*/
.empty-card-container {
  /* width: 100%; */
  width: 110px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-card-icon {
  width: 35px;
  height: 35px;
}

/*
  Search
*/
.search-container {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-bar {
  border-bottom: 1px solid #BDBDBD;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 50px;
  align-items: center;
}

.search-bar-input {
  border: none;
  outline: none;
  font-size: 12pt;
  width: 100%;
}

.search-count {
  color: #BDBDBD;
}

.search-list-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

/*
  Book Detail
*/
.book-detail-modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.book-detail-card {
  width: 500px;
  height: 70%;
  border-radius: 20px;
  background-color: white;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book-detail-content {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-detail-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.book-detail-info-left {
  
}

.book-detail-image {
  width: 150px;
}

.book-detail-info-right {
  display: flex;
  flex-direction: column;
}

.book-detail-genre {
  color: lightslategray;
  font-size: 10pt;
  margin: 0 0 10px 0;
}

.book-detail-title {
  color: black;
  font-weight: 600;
  font-size: 15pt;
  margin: 0;
}

.book-detail-author {
  color: lightslategray;
  font-weight: 600;
  font-size: 12pt;
  margin: 0;
}

.book-detail-description {
  font-size: 10pt;
  margin: 0;
}

.book-remove-button {
  width: 80px;
  height: 35px;
  background-color: #EB5757;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 10pt;
  font-weight: 600;
}

.book-add-button {
  width: 80px;
  height: 35px;
  background-color: #6FCF97;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 10pt;
  font-weight: 600;
}

.book-move-button {
  width: 80px;
  height: 35px;
  background-color: #6FCF97;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 10pt;
  font-weight: 600;
}

/*
  Confirm Modal
*/
.confirm-modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.confirm-modal-card {
  width: 310px;
  height: 100px;
  border-radius: 20px;
  background-color: white;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.confirm-modal-message {
  font-size: 12pt;
  margin: 0;
}

.confirm-modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

/*
  Action Modal
*/
.action-modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.action-card {
  width: 300px;
  height: auto;
  border-radius: 20px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  gap: 1px;
  overflow: hidden;
}

.action-card-message {
  flex: 1;
  margin: 0;
  padding: 30px;
  background-color: white;
  font-size: 15pt;
  font-weight: 600;
}

.action-card-selection {
  flex: 1;
  padding: 20px;
  font-size: 12pt;
  background-color: white;
  border: none;
  cursor: pointer;
}

.action-card-selection-current {
  flex: 1;
  padding: 20px;
  font-size: 12pt;
  background-color: lightgray;
  color: #BDBDBD;
  font-weight: 600;
  border: none;
}

.action-card-cancel {
  flex: 1;
  padding: 20px;
  background-color: white;
  color: #EB5757;
  font-size: 12pt;
  border: none;
  cursor: pointer;
}

/*
  common
*/
.clickable {
  cursor: pointer;
}

.ok-button {
  width: 80px;
  height: 35px;
  background-color: #EB5757;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 10pt;
  font-weight: 600;
}

.cancel-button {
  width: 80px;
  height: 35px;
  background-color: #BDBDBD;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 10pt;
  font-weight: 600;
}

.close-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  cursor: pointer;
}

.test {
  overflow: hidden;
}